* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

body {
    min-height: 100vh;
    background-color: lightgray;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 34pt;
}

h2 {
    font-size: 24pt;
}

p {
    font-size: 16pt;
}

footer>p {
    font-size: 12pt;
}



section {
    padding: 0;
    margin: auto;
    width: 70%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    margin: auto;
    height: 150px;
    width: 100%;
    background-image: url('https://picsum.photos/2000/150');
}

nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: bisque;
}

footer {
    padding: 10px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section>h1 {
    padding: 30px;
}

#business {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 50px;
    flex-direction: column;
}

#home-imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

#home-imgs>img {
    padding: 10px;
}

#contact-form {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

#contact-form>div {
    padding-bottom: 20px;
}

#contact-message {
    resize: none;
    height: 10em;
    width: 400px;
}

#contact-form>div>input {
    width: 200px;
}

#contact-description,
#contact-info {
    width: 70%;
    margin: auto;
}

#map-location {
    margin: auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#service-list>ul {
    width: 20%;
    padding: 50px;
}