body {
    background-color: lightgray;
    margin: 0;
}
section {
    padding: 0;
    margin: auto;
    width: 80%;
    background-color: gray;

}
header {
    margin: auto;
    height: 100px;
    width: 100%;
    background-image: url('https://picsum.photos/2000/100');
}

nav {
    height: 50px;
    background-color: bisque;
}

footer {
    height: 100px;
    background-color: blanchedalmond;
}

#brands {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 50px;
}
figure {
    height: 700px;
    width: 700px;
    background-color: aqua;

}